.jumbotron{
	background: url(../images/banner1.jpeg);
	color: #00f;
	text-align: center;
	height: 500px;
}
.banner-content{
	background: rgba(63,77,253,0.5);
	width: 60%;
	height: 260px;
	margin: 80px auto;
	color: #fff;
	font-weight: 800;
	padding-top: 18px;
	border-radius: 10%;
}
@font-face {
	font-family:myFont;
	src: url(../library/fonts/glyphicons-halflings-regular.svg);
}
.banner-content h1{
	font-family: myFont;
	font-weight: 600;
	text-shadow: 5px 5px 0.3rem #a8d4fb;
}
/* 巨幕样式结束 */
/* 优势样式开始 */
.title{
	text-align: center;
	font-weight: 300;
	margin-bottom: 20px ;
}
/* 优势样式结束 */
/* 优势样式开始 */

.carditem{
	background: rgba(159,24,243,0.61);
	box-shadow: 0 0 20px 0 rgba(218,92,216,0.5);
	border: 1px solid #c1c1c1 ;
	transition: all 0.3s ease-in-out ;
	border-radius: 10%;
}
.carditem:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-fransform: scale(1.1);
	-ms-transform: scale(1.1);
}
.card-title{
	padding-top: 20px;
	padding-bottom: 20px ;
	border-bottom: 1px solid #c1c1c1;
}
.card-title h4{
	color: #FFF;
	font-weight: 800;
	line-height: 2.3em;
	text-align: center;
}
.card-content{
	padding-top: 20px;
	padding-bottom: 20px;
}
.card-content p{
	color: #fff;
	font-weight: 500;
	text-align: center;
}
.btn-info{
	width: 80%;
	margin: 0 auto;
	display: block;
	background: rgba(99,221,247,0.84);
}
/* 优势样式结束 */
/* 顾客评价样式开始 */

.customer{
	margin-top: 20px;
}
.header{
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: left;
}
.customer p{
	line-height: 2.5em;
	padding: 5px;
}
.p{
	border: 1px dashed #909;
}
/* 顾客评价样式结束 */
/* 问答样式开始 */
.more{
	float: right;
	font-size: 1.6em;
}
.question p {
	line-height: 1.8em;
}
/* 问答样式结束 */
.font-famliy{
	flood-color: #FFFFFF;
	background-image: url(../img/backguan.jpg);
}
.font-size1{
	font-size: 20px;
}